
    <!-- Parada que aparece fazendo anúncio do app -->
    <div class="title">
        <p>Comece agora mesmo uma <b>aventura</b> inteira, através da tela do seu <b>celular</b></p>
    </div>

    <!-- Splash que carrega e deixa td colorido com o logo -->
    <div class="Splash" id="splash">
        <div class="LogoSplash" id="logosplash"></div>
    </div>

    <!-- Container -->
    <div id="Container">
        
        <!-- Div do Login com inputs -->
        <div id="Login">
            <img src="../../../../assets/logos/logoname.png" alt="">

            <!-- Div com inputs só pra logar -->
            <div class="inputs" id="logar">
                <form>
                    <input type="text" [(ngModel)]="email"  name="email" id="user" placeholder="Email">
                    <input type="password" [(ngModel)]="pass" name="pass" id="pass" placeholder="Senha">
                    <button type="button" class="buttonLogin" (click)="login()">Login</button>
                </form> 
            </div>
            <!-- Fim div Logar -->

            <!-- Div com inputs só pra recuperação de email -->
            <div id="email" class="inputs">
                <form>
                    <p style="float: left; margin-left: 15px;">Recuperar usuário</p>
                    <input type="email" name="" id="" placeholder="Email">
                    <input type="submit" value="Enviar" id="" class="buttonLogin">
                </form>
                <p>
                    <a onclick="VoltarLogar()">Logar</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a onclick="Cadastro()">Cadastre-se</a>
                </p>
            </div>
            <!-- Fim div recuperar email -->

        </div>
        <!-- Fim div Container -->
    </div>
    <!-- Rodapé -->
    <div class="footer">
        <p> © Culture - Argon 2019 </p>
    </div>
    